<%= form_for(@orbit) do |f| %>
  <% if @orbit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orbit.errors.count, "error") %> prohibited this orbit from being saved:</h2>

      <ul>
      <% @orbit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "fillWidth" %>
  </div>
  <br />
  <h2>Current Images in Orbit Carousel:</h2>
  <table id="orbit-images-table" class="table">
    <thead>
      <tr>
        <th>Change Media</th>
        <th>Thumb</th>
        <th>Position</th>
        <th>Caption</th>
      </tr>
    </thead>

    <tbody>
      <% @orbit.images.order("position ASC").each_with_index do |image, index| %>
        <% upload = Upload.find(image.upload_id) %>
        <%= render partial: "orbits/add_orbit_image_row", locals: { upload: upload, image: image, index: index } %>
      <% end %>
    </tbody>
  </table>
  <p><%= link_to "Add a new image...", add_row_orbit_path, remote: true %></p>
  <br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
