<footer class="main-footer">
  <div class="container">
    
    <div class="row-fluid">

      <div class="span9">
        <%= render :partial => "elements/main_menu" %>
        <br />
        <h3><b>Brian Zaik</b> is a User Experience (UX) designer and developer who gets out of bed each morning to create delightful products. He is energized by opportunities to grow software from conceptual design straight through to interface execution.</h3>
        <h3>Brian works at <a href="http://sandia.gov">Sandia National Labs</a>. He is also a Managing Partner of <a href="#">Innio</a>.</h3>
        <br />
        <div class="social-links">
          <%= link_to "http://www.linkedin.com/profile/view?id=16100560" do %>
            <i class="icon-linkedin-sign"></i>
          <% end %>
          <%= link_to "https://github.com/brzaik" do %>
            <i class="icon-github-sign"></i>
          <% end %>
          <%= link_to "http://twitter.com/brzaik" do %>
            <i class="icon-twitter-sign"></i>
          <% end %>
          <%= link_to "https://plus.google.com/u/0/112190807305375414049/posts" do %>
            <i class="icon-google-plus-sign"></i>
          <% end %>
          <%= link_to "https://www.facebook.com/brzaik" do %>
            <i class="icon-facebook-sign"></i>
          <% end %>
        </div>

      </div>

      <div class="span3">
        &nbsp;
      </div>

    </div>

    <hr />

    

  </div>
</footer>