<header class="main-header">
  <div class="container" style="position: relative;">
    <%= image_tag("z-logo-top.png", :alt => "Brian R Zaik", :width => "100", :style => "position: absolute; top: 0px; left: 0px;") %>
  </div>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <h1 class="brand">
          <%= link_to portfolio_path do %>
            Brian Zaik<small>UX Designer + Developer</small>
          <% end %>
        </h1>
        <ul class="nav pull-right">
          <li><%= link_to "Works", portfolio_path %></li>
          <li><a href="#">About</a></li>
          <li <% if controller.controller_name == 'blog_posts' %>class="active"<% end %>><%= link_to "Blog", blog_posts_path %></li>
          <li <% if controller.controller_name == 'contacts' %>class="active"<% end %>><%= link_to "Contact", new_contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>