<div id="page-panel-<%= page.id %>" class="panel">
  <div class="page-details default-padding" style="padding: 12px 30px;">
    <div class="row-fluid">
      <div class="span7">
        <div style="padding: 8px 8px 8px 0px;">
          <h1>
            <%= page.title %>
            <% if current_user and current_user.is_admin? %>
              <small class="admin-color">
                <%= link_to edit_page_path(page) do %>
                  <i class="icon-cog"></i>
                <% end %>
              </small>
            <% end %>
          </h1>
        </div>
      </div>
      <% if page.tags.size > 0 %>
      <div class="span3">
        <div style="padding: 8px;">
          <p>
            <i class="icon-tags"></i>&nbsp;&nbsp;
            <% page.tags.each do |tag| %>
              <%= link_to tag.name, portfolio_show_tag_path(tag), class: "label" %>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
      <div class="span2">
        <div style="padding: 8px;">
          <p>Last Updated on <%= page.updated_at.strftime("%h %d, %Y") %></p>
        </div>
      </div>
    </div>
  </div>

  <% if page.upload_id %>
    <% upload = Upload.find(page.upload_id) %>
    <%= image_tag(upload.myfile.url(:full), :alt => page.title) %>
  <% end %>

  <% if page.sections.count > 0 %>
  <div id="nav-affix-wrapper">
    <div id="nav-sectionlist" class="navbar">
      <div class="navbar-inner">
        <ul class="nav" style="margin-left: 10px;">
          <li class="brand">
            <%= link_to page.title, "#page-panel-#{page.id}" %>
          </li>
          <% page.sections.each do |section| %>
          <li>
            <%= link_to section.title, "#section#{ section.id }" %>
          </li>
          <% end %>
        </ul>
        <% if !page.url_link.empty? %>
        <ul class="nav pull-right">
          <li>
            <%= link_to page.url_link do %>
              Visit Work &rarr;
            <% end %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <br />
  <% end %>

  <div>
  <%= render @page %>
  </div>

</div>