<% page_title!(@page.title) %>
<% meta :description => @page.meta_description %>

<div class="imgFillWidth" style="position: relative; z-index: 1;">
  <% if not @page.upload_id.nil? %>
    <% upload = Upload.find(@page.upload_id) %>
    <%= image_tag upload.myfile.url, :alt => "American DeTour: A New Kind of Travel Show" %>
  <% end %>
</div>

<br />
<br />

<div class="page-row flush" style="padding: 0px;">
  <div class="row-fluid">
    <div class="span12">
      <% if current_user %>
        <div class="admin-links">
          <%= link_to "Edit Page", edit_page_path(@page), :class => "btn btn-mini" %>
        </div>
      <% end %>
      <iframe width="100%" height="500" src="http://www.youtube.com/embed/ood3GDaC9Go?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<br />
<br />
<br />

<div class="page-row flush bg-highwaysign">
  <div class="row-fluid">
    <div class="span12">
      <h3><%= image_tag("text/t_theplayers.png", :alt => "The Players") %></h3>
    </div>
  </div>
  <br />

  <div class="row-fluid">
    <div class="span4">
      <div class="block" style='text-align: center;'>
        <%= link_to image_tag("misc/highway-sign-kristen.jpg"), "/pages/american-detour-the-players#the-actress" %>
      </div>
    </div>
    <div class="span4">
      <div class="block" style='text-align: center;'>
        <%= link_to image_tag("misc/highway-sign-joseph.jpg"), "/pages/american-detour-the-players#the-singer" %>
      </div>
    </div>
    <div class="span4">
      <div class="block" style='text-align: center;'>
        <%= link_to image_tag("misc/highway-sign-travis.jpg"), "/pages/american-detour-the-players#the-expert" %>
      </div>
    </div>
  </div>
</div>

<br /><br />

<div class="page-row flush vizblock-dark">
  <div class="default-padding">
    <div class="row-fluid">
      <!--
      <div class="span6">
          <h3>Trailer</h3>
          <%# if current_user %>
            <div class="admin-links">
              <%#= link_to "Add Trailer", new_page_video_path(@page), :class => "btn btn-mini" %>
            </div>
            <br />
          <%# end %>

          <%# @page.videos.each do |video| %>
            <iframe src="http://player.vimeo.com/video/<%#= video.url %>" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <%# end %>
      </div>
    -->
    
      <div class="span12">
        <h3><%= image_tag("text/t_gallery.png", :alt => "Gallery") %></h3>
        <br />
        <% if current_user %>
          <div class="admin-links">
            <%= link_to "Add Image", new_page_image_path(@page), :class => "btn btn-mini" %>
          </div>
          <br />
        <% end %>
        
        <ul class="thumbnails no-margin">
          <% @page.images.each do |image| %>
            <% upload = Upload.find(image.upload_id) %>
            <li style="width:80px;">
              <div class="thumbnail add-floating-admin-links" style="width: 80px;">
                <% if current_user %>
                <div class="admin-links admin-links-floating">
                  <%= link_to "Edit", edit_page_image_path(@page, image), :class => "btn btn-mini" %>
                  <%= link_to "X", [@page, image], :confirm => "Are you sure you wish to remove this gallery image?  The source upload will not be deleted.", :method => :delete, :class => "btn btn-mini" %>
                </div>
                <% end %>
                <%= link_to image_tag(upload.myfile.url(:thumb), :alt => image.caption, :title => image.caption, :class => "gallery-img" ), upload.myfile.url(:full), { :rel => "lightzap[#{@page.id}]", :title => image.caption } %>
              </div>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>

<br /><br />
<%= render @page %>