<div id="column-<%= column.id %>" class="span<%= column.span_width %> <%= column.additional_styles %> <% if current_user.is_admin? %>admin-block<% end %>" <%= column.additional_tags %>>

  <% if current_user.is_admin? %>
  <div class="admin-controls top">
    <span class="caption">Column</span>
    <%= link_to edit_row_column_path(column.row, column), class: "editBtn", remote: true do %>
      <i class="icon-cog"></i>
    <% end %>
    <% if column.blocks.count == 0 %>
      <%= link_to [column.row, column], :confirm => "Are you sure you wish to delete this column?", :method => :delete do %>
        <i class="icon-remove-sign"></i>
      <% end %>
    <% end %>
  </div>
  <% end %>

  <%= render column.blocks %>

  <% if current_user.is_admin? %>
  <div class="admin-controls bottom">
    <%= link_to "Add Block", new_column_block_path(column), class: 'editBtn blockBtn', remote: true %>
  </div>

  <div id="column_<%= column.id %>_addForm" class="hide">
    <%= render partial: "blocks/form", locals: { button_text: 'Add Block', block: Block.new, column: column } %>
  </div>

  <div id="column_<%= column.id %>_editForm" class="hide">
    <%= render partial: "columns/form", locals: { button_text: 'Save', column: column, row: column.row } %>
  </div>
  <% end %>

</div>