<%= form_for([@row, @column], remote: true) do |f| %>
  <% if @column.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@column.errors.count, "error") %> prohibited this column from being saved:</h2>

      <ul>
      <% @column.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>

  <div class="field">
    <%= f.label :span_width %>
    <p>This should be a whole number between 1 (smallest percentage of page width) and 12 (largest percentage of page width).</p>
    <%= f.number_field :span_width, :min => 1, :max => 12 %>
  </div>

  <div class="field">
    <%= f.label :additional_styles %>
    <%= f.text_field :additional_styles, :class => "fillWidth" %>
  </div>

  <div class="field">
    <%= f.label :additional_tags %>
    <%= f.text_field :additional_tags, :class => "fillWidth" %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit button_text, :class => "btn btn-primary" %>
  </div>
<% end %>
