<p id="notice"><%= notice %></p>

<p>
  <b>Page:</b>
  <%= @column.page_id %>
</p>

<p>
  <b>Position:</b>
  <%= @column.position %>
</p>

<p>
  <b>Span width:</b>
  <%= @column.span_width %>
</p>


<%= link_to 'Edit', edit_column_path(@column) %> |
<%= link_to 'Back', columns_path %>
