<%= form_for([@page, @section], remote: true) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this row from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>

  <div class="field">
    <%= f.label :additional_styles %>
    <%= f.text_field :additional_styles, :class => "fillWidth" %>
  </div>

  <div class="field">
    <%= f.label :additional_tags %>
    <%= f.text_field :additional_tags, :class => "fillWidth" %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit button_text, class: "btn btn-primary" %> <%= link_to "Cancel", "#", class: "btn btnCancel" %>
  </div>
<% end %>
