<div id="block_<%= block.id %>" class="block <%= block.additional_styles %> <% if current_user and current_user.is_admin? %>admin-block<% end %>" <%=raw block.additional_tags %>>
  
  <% if current_user and current_user.is_admin? %>
  <div class="admin-controls top">
    <span class="caption">Block</span>
    <%= link_to edit_column_block_path(block.column, block), class: 'editBtn blockBtn', remote: true do %>
      <i class="icon-cog"></i>
    <% end %>
    <%= link_to [block.column, block], :confirm => "Are you sure you wish to delete this block and its associated content?", :method => :delete do %>
      <i class="icon-remove-sign"></i>
    <% end %>
  </div>
  <% end %>

  <% if block.content_name == "Richtext" %>
    <%= render :partial => "blocks/types/richtext_block", :locals => { :richtext => block.richtext } %>
  <% elsif block.content_name == "Video" %>
    <%= render :partial => "blocks/types/video_block", :locals => { :video => block.video } %>
  <% elsif block.content_name == "Image" %>
    <%= render :partial => "blocks/types/image_block", :locals => { :image => block.image } %>
  <% elsif block.content_name == "TwitterBoard" %>
    <%= render :partial => "blocks/types/twitter_board_block", :locals => { :twitter_board => block.twitter_board } %>
  <% elsif block.content_name == "Quote" %>
    <%= render :partial => "blocks/types/quote_block", :locals => { :quote => block.quote } %>
  <% elsif block.content_name == "Link" %>
    <%= render :partial => "blocks/types/link_block", :locals => { :link => block.link } %>
  <% elsif block.content_name == "Orbit" %>
    <%= render :partial => "blocks/types/orbit_block", :locals => { :orbit => block.orbit } %>
  <% end %>

</div>