<%= f.fields_for :link do |ff| %>
  <div class="field">
    <%= ff.label :title %>
    <%= ff.text_field :title, :class => "fillWidth" %>
  </div>
  <div class="field">
    <%= ff.label :url %>
    <%= ff.text_field :url, :class => "fillWidth" %>
  </div>
  <div class="field">
    <%= ff.label :caption %>
    <%= ff.text_field :caption, :class => "fillWidth" %>
  </div>
<% end %>