<%= f.fields_for :orbit do |ff| %>
  <div class="field">
    <%= ff.label :title %>
    <%= ff.text_field :title, :class => 'fillWidth' %>
  </div>
  <p>
    <b>Orbit ID: <%= orbit.id %></b>
    <br />
    Current images displaying in this orbit carousel:
    &nbsp;&nbsp;
    <%= link_to 'Change...', edit_orbit_path(orbit.id), :class => "btn btn-small" unless orbit.id.nil? %>
  </p>
  <% orbit.images.each do |image| %>
    <% upload = Upload.find(image.upload_id) %>
    <%= image_tag(upload.myfile.url(:thumb), :alt => image.caption, :title => image.caption) %>
  <% end %>

<% end %>