<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "fillWidth" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'fillWidth' %>
  </div>
  <div class="field">
    <%= f.check_box :is_highlight %> <%= f.label :is_highlight %>
  </div>
  <div class="field">
    <%= f.label :template_id %>
    <%= f.collection_select(:template_id, @templates, :id, :template_name, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :meta_description %>
    <%= f.text_field :meta_description, :class => "fillWidth" %>
  </div>

  <p>Select Tag(s):</p>
  <ul>
    <% @tags.each do |tag| -%>
      <li><%= check_box_tag "page[tag_ids][]", tag.id, tag_includes_page?(tag) -%> <%= tag.name -%></li>
    <% end -%>
  </ul>

  <br />
  <div class="actions">
    <%= f.submit button_text, :class => "btn btn-primary" %>
  </div>
<% end %>
