<br />
<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span8">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, :class => "fillWidth" %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'fillWidth' %>
      </div>
      <div class="field">
        <%= f.label :meta_description %>
        <%= f.text_field :meta_description, :class => "fillWidth" %>
      </div>
    </div>
    <div class="span4">
      <br />

      <div class="field">
        <label class="checkbox">
          <%= f.check_box :is_highlight %> Highlighted
        </label>
        <label class="checkbox">
          <%= f.check_box :is_private %> Private
        </label>
      </div>

      <br />

      <p><b>Public Tag(s):</b></p>
      <ul class="unstyled">
        <% @public_tags.each do |tag| -%>
          <li>
            <label class="checkbox">
              <%= check_box_tag "page[tag_ids][]", tag.id, tag_includes_page?(tag) -%> <%= tag.name -%>
            </label>
          </li>
        <% end -%>
      </ul>

      <% if @private_tags.size > 0 %>
        <p><b>Private Tag(s):</b></p>
        <ul class="unstyled">
          <% @private_tags.each do |tag| -%>
            <li>
              <label class="checkbox">
                <%= check_box_tag "page[tag_ids][]", tag.id, tag_includes_page?(tag) -%> <%= tag.name -%>
              </label>
            </li>
          <% end -%>
        </ul>
      <% end %>

      <br />

      <div class="field">
        <%= f.label :upload_id, "Select Title Image" %>
        <%= f.collection_select(:upload_id, @uploads, :id, :myfile_file_name, :include_blank => true) %>
      </div>

      <div class="field">
        <%= f.label :template_id %>
        <%= f.collection_select(:template_id, @templates, :id, :template_name, :include_blank => true) %>
      </div>
    </div>
  </div>

  <br />
  <div class="actions">
    <%= f.submit button_text, :class => "btn btn-primary" %>
  </div>
<% end %>
