<h1>Listing pages</h1>
<br />
<table class="table">
  <tr>
    <th>Title</th>
    <th>Attributes</th>
    <th>Description</th>
    <th>Tags</th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= link_to page.title, page %></td>
    <td>
      <%=raw page.is_private? ? "<p>Private</p>" : '' %>
      <%=raw page.is_highlight? ? "<p>Highlight</p>" : '' %>
      <%=raw page.is_about_page? ? "<p>About Page</p>" : '' %>
    </td>
    <td><%= truncate(page.description, length: 100) %></td>
    <td>
      <% page.tags.each do |tag| %>
        <%= tag.name %>&nbsp;&nbsp;
      <% end %>
    </td>
    <td>
      <%= link_to 'Edit', edit_page_path(page), class: "btn btn-mini" %> 
      <%= link_to 'Destroy', page, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-mini" %> 
      <%= link_to 'Make About Page', make_about_page_page_path(page), class: "btn btn-mini" unless page.is_about_page? %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path, :class => "btn" %>
