<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @link.title %>
</p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>

<p>
  <b>Linkable:</b>
  <%= @link.linkable_id %>
</p>

<p>
  <b>Linkable type:</b>
  <%= @link.linkable_type %>
</p>

<p>
  <b>Caption:</b>
  <%= @link.caption %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
