<div class="row-fluid">
  <div class="span8">
    <h1 id="frontpage-header">
      <%= link_to about_path do %>
        Hi there, I'm Brian. I design and build products aimed at making life more enjoyable. <span class="more label label-black label-big-rounded"><span class="more-text">More</span> <i class="icon-caret-right"></i></span>
      <% end %>
    </h1>
  </div>
  <div class="span4">
    <%= image_tag("fp-pic.png", :alt => "Brian Zaik") %>
  </div>
</div>

<% if user_signed_in? and @special_pages and @special_pages.size > 0 %>
<br />
<h1 class="stubby-header default-padding">By Logging In You Can See these Special Pages:</h1>

<div class="panel">
  <% @special_pages.each do |page| %>
    
    <div class="panel-inset-list">
      
      <div class="row-fluid">
        <div class="span6">
          
          <div class="default-padding">
            <h2>
              <%= link_to page.title, page %>
              <% if current_user and current_user.is_admin? %>
                <small class="admin-color">
                  <%= link_to edit_page_path(page) do %>
                    <i class="icon-cog"></i>
                  <% end %>
                </small>
              <% end %>
            </h2>
            <p><%= page.description %></p>
            <p>
              <%= link_to page do %>view project<% end %>
            </p>
          </div>

        </div>
        <div class="span6">
          <%= link_to page do %>
            <% if page.upload_id %>
              <% upload = Upload.find(page.upload_id) %>
              <%= image_tag(upload.myfile.url(:frontpage), :alt => page.title) %>
            <% else %>
              &nbsp;
            <% end %>
          <% end %>
        </div>
      </div>
      
    </div>

  <% end %>
</div>
<br />
<% end %>

<br />

<h1 class="stubby-header default-padding">Selected Works:</h1>

<div class="panel">
  <% @highlighted_pages.each do |page| %>
    
    <div class="panel-inset-list">
      
      <div class="row-fluid">
        <div class="span6">
          
          <div class="default-padding">
            <h2>
              <%= link_to page.title, page %>
              <% if current_user and current_user.is_admin? %>
                <small class="admin-color">
                  <%= link_to edit_page_path(page) do %>
                    <i class="icon-cog"></i>
                  <% end %>
                </small>
              <% end %>
            </h2>
            <p><%= page.description %></p>
            <p>
              <%= link_to page do %>view project<% end %>
            </p>
          </div>

        </div>
        <div class="span6">
          <%= link_to page do %>
            <% if page.upload_id %>
              <% upload = Upload.find(page.upload_id) %>
              <%= image_tag(upload.myfile.url(:frontpage), :alt => page.title) %>
            <% else %>
              &nbsp;
            <% end %>
          <% end %>
        </div>
      </div>
      
    </div>

  <% end %>
</div>

<br /><br /><br />

<h1 class="stubby-header default-padding">More from <%= link_to "the Portfolio", portfolio_all_path %>:</h1>
<div class="panel-set row-fluid">
  
  <% @other_pages.each do |page| %>
    <div class="span3">

      <div class="panel black" style="border-top: 0px;">
        <%= link_to page do %>
          <% if page.upload_id %>
            <% upload = Upload.find(page.upload_id) %>
            <%= image_tag(upload.myfile.url(:smproj), :alt => page.title) %>
          <% else %>
            <%= placeholdit_image_tag "228x150", text: "Project Image", background_color: '#22a8b4', text_color: '#FFF' %>
          <% end %>
        <% end %>
        <h3 class="panel-block-title">
          <%= link_to page do %>
            <%= truncate(page.title, length: 25) %>
            <% if current_user and current_user.is_admin? %>
              <small class="admin-color">
                <%= link_to edit_page_path(page) do %>
                  <i class="icon-cog"></i>
                <% end %>
              </small>
            <% end %>
          <% end %>
        </h3>
      </div>

    </div>
  <% end %>
</div>

<br />

<h1 class="stubby-header default-padding">
  Common Tags:
  <span style="padding-left: 16px;">
    <% @popular_tags.each do |tag| %>
      <%= link_to tag.name, portfolio_show_tag_path(tag), :class => "label" %>
    <% end %>
  </span>
</h1>

<br /><br /><br />