<% @tag.pages.each do |page| %>
  <div class="panel black" style="border-top: 0px;">
    <%= link_to page do %>
      <%= placeholdit_image_tag "228x150", text: "Project Image", background_color: '#22a8b4', text_color: '#FFF' %>
    <% end %>
    <h3 class="panel-block-title">
      <%= link_to page do %>
        <%= page.title %>
        <% if user_signed_in? %>
          <small class="admin-color">
            <%= link_to edit_page_path(page) do %>
              <i class="icon-cog"></i>
            <% end %>
          </small>
        <% end %>
      <% end %>
    </h3>
  </div>
<% end %>