<h1>Listing twitter_boards</h1>

<table>
  <tr>
    <th>Account name</th>
    <th>Display num</th>
    <th>Block</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @twitter_boards.each do |twitter_board| %>
  <tr>
    <td><%= twitter_board.account_name %></td>
    <td><%= twitter_board.display_num %></td>
    <td><%= twitter_board.block_id %></td>
    <td><%= link_to 'Show', twitter_board %></td>
    <td><%= link_to 'Edit', edit_twitter_board_path(twitter_board) %></td>
    <td><%= link_to 'Destroy', twitter_board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Twitter board', new_twitter_board_path %>
