<p id="notice"><%= notice %></p>

<p>
  <b>Imageable:</b>
  <%= @image.imageable_id %>
</p>

<p>
  <b>Imageable type:</b>
  <%= @image.imageable_type %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
