<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
  <%= metamagic :title => "#{ controller.controller_name.titleize } - Brian R Zaik, UX Designer + Developer", :description => "Brian R Zaik, User Experience Designer and Developer", :keywords => %w(brian zaik brian-zaik brian-r-zaik designer user experience user-experience hci software computer) %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= jquery_include_tag :google, :force => true %>
  <%= javascript_include_tag "application" %>

  <!--[if lt IE 9]>
  <script src="/assets/html5shiv.js"></script>
  <![endif]-->

  <%= yield :head %>

  <%= csrf_meta_tags %>

  <script type="text/javascript" src="//use.typekit.net/fon6qml.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- TODO put google analytics here -->
</head>
<body id="top" class="<%= current_user and current_user.is_admin? and current_user.view_as_admin? ? 'view-admin-true' : 'view-admin-false' %>" data-spy="scroll" data-target="#nav-sectionlist" data-offset="0">

  <%= render :partial => "elements/admin_menu" %>

  <%= render :partial => "elements/header" %>

  <% if flash[:notice] or alert %>
    <div id="flash-banner" class="alert alert-block alert-black">
      <%= flash[:notice] %>
      <%= alert %>
    </div>
  <% end %>

  <div id="main" class="container">
    
    <%= yield %>
     
  </div>

  <%= render :partial => "elements/footer" %>

</body>
</html>
