<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
  <%= metamagic :description => "Brian R Zaik, User Experience Designer and Developer", :keywords => %w(brian zaik brian-zaik brian-r-zaik designer user experience user-experience hci software computer) %>
  <title><%= page_title %></title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= jquery_include_tag :google, :force => true %>
  <%= javascript_include_tag "application" %>

  <%= yield :head %>

  <%= csrf_meta_tags %>

  <script type="text/javascript" src="//use.typekit.net/fon6qml.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- TODO put google analytics here -->
</head>
<body class="<%= user_signed_in? and current_user.view_as_admin? ? 'view-admin-true' : 'view-admin-false' %>">
  
  <div class="container">

    <%= image_tag("z-logo-top.png", :alt => "Brian R Zaik", :width => "92") %>
    <h1 style="color: #000; font-weight: 700;">Brian R Zaik</h1>
    <%= render :partial => "elements/admin_menu" %>

    <% if flash[:notice] or alert %>
      <p class="alert" style="margin: 0px;">
        <%= flash[:notice] %>
        <%= alert %>
      </p>
    <% end %>

    <div id="main">

      <div class="row-fluid">
        <div id="main-sidebar" class="span3">
          
        </div>
        <div class="span9">

          <div id="logotop">
            &nbsp;
          </div>

          <div class="vizblock-dark">
            <div class="default-padding">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
