<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
  <%= metamagic :description => "Brian R Zaik, User Experience Designer and Developer", :keywords => %w(brian zaik brian-zaik brian-r-zaik designer user experience user-experience hci software computer) %>
  <title><%= page_title %></title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= jquery_include_tag :google, :force => true %>
  <%= javascript_include_tag "application" %>

  <%= yield :head %>

  <%= csrf_meta_tags %>

  <script type="text/javascript" src="//use.typekit.net/fon6qml.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- TODO put google analytics here -->
</head>
<body class="<%= user_signed_in? and current_user.view_as_admin? ? 'view-admin-true' : 'view-admin-false' %>">

  <%= render :partial => "elements/admin_menu" %>

  <%= render :partial => "elements/header" %>

  <% if flash[:notice] or alert %>
    <p class="alert" style="margin: 0px;">
      <%= flash[:notice] %>
      <%= alert %>
    </p>
  <% end %>

  <div id="main" class="container">
    
    <%= yield %>
     
  </div>

  <footer class="main-footer">
    <div class="container">
      
      <div class="row-fluid">

        <div class="span9">
          <h3><b>Brian Zaik</b> is a User Experience (UX) designer and developer who gets out of bed each morning to create delightful products. He is energized by opportunities to grow software from conceptual design straight through to interface execution.</h3>
          <h3>Brian works at <a href="http://sandia.gov">Sandia National Labs</a>. He is also a Managing Partner of <a href="#">Innio</a>.</h3>
          <br />
          <%= render :partial => "elements/main_menu" %>

        </div>

        <div class="span3">
          Image
        </div>

      </div>

      <hr />

      

    </div>
  </footer>

</body>
</html>
