<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
  <%= metamagic :description => "Brian R Zaik, User Experience Designer and Developer", :keywords => %w(brian zaik brian-zaik brian-r-zaik designer user experience user-experience hci software computer) %>
  <title><%= page_title %></title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= jquery_include_tag :google, :force => true %>
  <%= javascript_include_tag "application" %>

  <%= yield :head %>

  <%= csrf_meta_tags %>

  <script type="text/javascript" src="//use.typekit.net/fon6qml.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- TODO put google analytics here -->
</head>
<body class="<%= user_signed_in? and current_user.view_as_admin? ? 'view-admin-true' : 'view-admin-false' %>">
  
  <div class="container" style="position: relative;">
    <%= image_tag("z-logo-top.png", :alt => "Brian R Zaik", :width => "100", :style => "position: absolute; top: 0px; left: 0px;") %>
  </div>
  

  <header class="main-header">
    <div class="container">
      <h1>Brian Zaik<small>UX Designer + Developer</small></h1>
    </div>
  </header>

    
  <%= render :partial => "elements/admin_menu" %>

  <% if flash[:notice] or alert %>
    <p class="alert" style="margin: 0px;">
      <%= flash[:notice] %>
      <%= alert %>
    </p>
  <% end %>

  <div id="main" class="container">

    <div class="row-fluid">
      <div class="span7">
        <h1 style="margin: 40px 0px 40px 15px; font-size: 52px; line-height: 60px;">Hi there, I'm Brian. I design and build products aimed at making life more enjoyable.</h1>
      </div>
      <div class="span5">
        &nbsp;
      </div>
    </div>
    
    <%= yield %>
     
  </div>

</body>
</html>
