<div id="page-row-<%= row.id %>" class="page-row <%= row.additional_styles %> <% if current_user.is_admin? %>admin-block<% end %>" <%= row.additional_tags %>>

  <% if current_user.is_admin? %>
  <div class="admin-controls top">
    <span class="caption">Row</span>
    <%= link_to edit_section_row_path(row.section, row), class: 'editBtn', remote: true do %>
      <i class="icon-cog"></i>
    <% end %>
    <%= link_to [row.section, row], :confirm => "Are you sure you wish to remove this row?", :method => :delete do %>
      <i class="icon-remove-sign"></i>
    <% end %>
  </div>
  <% end %>

  <div class="row-fluid">
    <%= render row.columns %>
  </div>

  <% if current_user.is_admin? %>
    <div class="admin-controls bottom">
      <%= link_to "Add Column", new_row_column_path(row), class: 'editBtn', remote: true %>
    </div>

    <div id="row_<%= row.id %>_addForm" class="hide">
      <%= render partial: "columns/form", locals: { button_text: 'Add Column', column: Column.new, row: row } %>
    </div>

    <div id="row_<%= row.id %>_editForm" class="hide">
      <%= render partial: "rows/form", locals: { button_text: 'Save', row: row, section: row.section } %>
    </div>
  <% end %>

</div>